
/* Estilos para o botão flutuante botoee de acao */
@media (max-width: 800px) {
    .fixed-left-buttons {
      position: fixed;
      bottom: 20px; /* Ajuste conforme necessário */
      left: 20px; /* Ajuste conforme necessário */
      z-index: 1000; /* Garante que os botões estejam acima de outros elementos */
    }
  }
  .fixed-left-buttons {
    position: relative; /* Define a posição relativa para permitir o posicionamento absoluto dentro */
    left: 0; /* Define a posição à esquerda */
    z-index: 1000; /* Garante que os botões estejam acima de outros elementos */
  }


  @media (max-width: 767px) {
    .sticky-left-buttons {
      position: sticky;
      top: 0;
      padding-top: 10px; /* Ajuste conforme necessário */
      z-index: 1000;
    }
  }
.img data-src{
    width: 32px; height: 32px;
}

.menu-botoes-servico {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}

.obter-rota{
    padding-right: 20px;
}

.icon-botao-whatsapp{
    width: 50px;
    height: 70 px;
    color: white;
}
.icon-botao-rota{
    width: 50px;
    height: 70 px;
    
}

.dia-servico{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding-right: 10px;
    display: flex;
    flex-direction: left;
    align-items: center;
    border: #000;
    margin-top: 10px;
}
