.porcentagemBox {
    font-size: 80px
}

/* Estilos padrão para os botões */
.btn {
    width: 100%; /* Garante que os botões ocupem toda a largura */
    margin-bottom: 0px; /* Adiciona um espaço entre os botões */
    font-size: 16px; /* Tamanho padrão do texto */
    border-radius: 0px; /* Remove a borda arredondada */
    /* Desabilita a interação com o botão */
  }
  .modal-open {
    overflow: hidden;
  }

  .botao_acesso_rapido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .acesso-rapido {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .BotaoCadastrarServico,
  .BotaoCadastrarCliente {
    margin: 0 10px;
    
  }
/* Estilos específicos para telas menores, como celulares */
@media screen and (max-width: 768px) {
    .btn {
      width: 100%; /* Divide os botões em 2 colunas */
      margin-bottom: 0px; /* Adiciona um espaço entre os botões */
      border-radius: 0px; /* Remove a borda arredondada */

      font-size: 14px; /* Tamanho menor do texto para telas menores */
    }
  

  }

  /* boxDeDados.css */

.botao_acesso_rapido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acesso-rapido {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.botoes .MuiButton-root {
  margin: 5px;
  min-width: 150px;
  font-size: 1rem;
  width: 100%; /* Adiciona largura de 100% para ocupar todo o espaço da div */
}

@media (max-width: 768px) {
  .botoes .MuiButton-root {
    min-width: 120px;
  }
}
